@model IEnumerable<CRUD_practico.Models.cliente>

@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

<button class="btn-default">
    @Html.ActionLink("Crear", "Create")
</button>


<table class="table">
    <tr>
        <th>
            Cuit
        </th>
        <th>
            Razon social
        </th>
        <th>
            Telefono
        </th>
        <th>
            Direccion
        </th>
        <th>
            Activo
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCliente })
        </td>
    </tr>
}

</table>
